<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FindWeather.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B7306D3D2B4FAF290001CA03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7306D562B4FAF2B0001CA03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7306D602B4FAF2B0001CA03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
